// Import page-specific CSS files here.
@import "home";
@import "about";
@import "show";

#home-flats {
  padding: 100px 0;
}

#home-flats h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

}

body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 18px;
  line-height: 1.42857143;
  color: #333333;
  background-color: white;
}


